<div class="row">
  <div class="col-12 mt-3">
    <%= f.label :title, '投稿タイトル' %>
    <%= f.text_field :title, class: 'form-control', style: "width: 100 %" %>
  </div>
</div>
<div class="row">
  <div class="col-12 mt-3">
    <%= f.label :tag_list, 'タグ(カンマ区切りで任意のタグを付加できます）' %>
    <%= f.text_field :tag_list, value: @topic.tag_list.join(','), class: "form-control", "data-role" => "tagsinput" %>
  </div>
</div>
<div class="row">
  <div class="col-12 mt-3">
    <%= f.label :content, '記事内容'  %>
    <%= f.text_area :content, 'data-provider': :summernote %>
  </div>
</div>
<div class="row">
  <div class="col-12 mt-3">
    <%= f.submit '確認画面へ', class: 'btn btn-info btn-block' %>
    <%= hidden_field_tag :user_id, current_user.id %>
  </div>
</div>