<% provide(:title, @topic.title) %>


<div class="container">
  <div class="row">
    <div class="col-md-12 mt-3 bg-dark text-white ">
      <h4 class="d-inline"><%= @topic.title %></h4>
    </div>
    <div class="col-md-12 bg-white">
      <!--html_safeでも実装可能、railsguide推奨表記-->
      <%== @topic.content %>
    </div>
    <% if !@topic.favorite_users.include?(current_user) %>
      <%= link_to favorites_path(topic_id: @topic.id), method: :post do %>
        <%= image_tag 'heart-black.png', class: 'topic-index-icon', style:"height: 20px;" %>
      <% end %>
    <% end %>
    <div class="col-md-12 bg-dark text-white ">
      <h5>by <%= @topic.user.name %></h5>
    </div>
  </div>
</div>

<div class="container bg-light mt-3 py-3">
  <% if current_user.id == @topic.user_id %>
    <h5 class= "text-center">【記事作成者限定】<%=current_user.name%>さん</h5>
    <div class="row">
      <%= link_to 'この記事に追記や編集を加えますか？', edit_topic_path, class: 'col-5 btn btn-outline-info mx-auto d-block mt-3' %>
      <%= link_to "削除" , @topic, class: 'btn btn-outline-info', method: :delete, data: {confirm: "投稿記事を削除しますか？", cancel: "キャンセル", commit: "削除する", title: "削除の確認"}, class: 'col-5 col-offset-2 btn btn-outline-info mx-auto d-block mt-3' %>
    </div>
  <% end %>
  </div>
</div>

<div class="container bg-light mt-3 py-3">
  <div class="row">
    <div class="col-12">
      <h5 class="text-center">この記事に対するコメントです</h5>
      <div id="comments_area">
        <%= render partial: 'comments/index', locals: { comments: @comments } %>
      </div> 
    </div>
    <div class="col-12">
      <% if logged_in? %>
        <%= render partial: 'comments/form', locals: { comment: @comment, topic: @topic } %>
      <% end %>
    </div>

  </div>
</div>