<% provide(:title, @topic.title) %>

<div class="container">
  <div class="row">
    <div class="col-md-12 mt-3 py-3 bg-dark text-white ">
      <h4 class="d-inline">
        <%= @topic.title %>
        <%= render partial: "author_function" %>
      </h4>
      <div >
      タグ：
      <% @topic.tag_list.each do |tag| %>
        <span class="badge badge-primary mt-3"><%= link_to tag, topics_path(tag_name: tag), class: "text-white" %></span>
      <% end %>
      </div>
    </div>
    <div class="col-md-12 bg-white">
      <%== @topic.content %>
    </div>
    <div class="col-md-12 py-3 bg-dark text-white ">
      <h5>記事作成者： <%= link_to @topic.user.name, user_path(id: @topic.user_id) %></h5>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-12">
    <%= render 'favorites/favorite', topic: @topic %>
    </div>
  </div>
</div>

<div class="container bg-light mt-3 py-3">
  <div class="row">
    <div class="col-12">
      <div id="comments_area">
        <% if @comments.any? %>
          <%= render partial: 'comments/index', locals: { comments: @comments } %>
        <% else %>
          <h5 class="text-center">まだコメントはありません…</h5>
        <% end %>
      </div> 
    </div>
    <div class="col-12">
      <% if logged_in? %>
        <%= render partial: 'comments/form', locals: { comment: @comment, topic: @topic } %>
      <% end %>
    </div>
  </div>
</div>