<% provide(:title, @topic.title) %>


<div class="container">
  <div class="row">
    <div class="col-md-12">
    <%= render 'favorites/favorite', topic: @topic %>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-12 mt-3 py-3 bg-dark text-white ">
      <h4 class="d-inline">
        <%= @topic.title %>
        <% if current_user.id == @topic.user_id %>
         <%= link_to edit_topic_path do %>
          <i class="far fa-edit btn btn-outline-light mx-2"> 編集</i>
         <% end %>
        <%= link_to @topic, method: :delete, data: {confirm: "投稿記事を削除しますか？", cancel: "キャンセル", commit: "削除する", title: "削除の確認"} do%>
          <i class="fas fa-eraser btn btn-outline-light "> 削除</i>
          <% end %>
        <% end %>
      </h4>
    </div>
    <div class="col-md-12 bg-white">
      <!--html_safeでも実装可能、railsguide推奨表記-->
      <%== @topic.content %>
    </div>
    <div class="col-md-12 py-3 bg-dark text-white ">
      <h5>by <%= @topic.user.name %></h5>
    </div>
  </div>
</div>

<div class="container bg-light mt-3 py-3">
  <div class="row">
    <div class="col-12">
      <h5 class="text-center">この記事に対するコメントです</h5>
      <div id="comments_area">
        <%= render partial: 'comments/index', locals: { comments: @comments } %>
      </div> 
    </div>
    <div class="col-12">
      <% if logged_in? %>
        <%= render partial: 'comments/form', locals: { comment: @comment, topic: @topic } %>
      <% end %>
    </div>
  </div>
</div>