<% provide(:title, 'ユーザー登録') %>

<div id="logreg-forms">
    <h1 class="h3 font-weight-normal text-center mt-5">ユーザー登録</h1>
    <p style="text-align:center"> 以下の情報で登録 </p>
    <%= render 'shared/error_messages', model: @user%>
    <%= form_for @user do |f| %>
      <%= f.text_field :name,class: "form-control mb-1", placeholder: "名前"%>
      <%= f.email_field :email,class: "form-control mb-1", placeholder: "メールアドレス" %>
      <%= f.password_field :password,class: "form-control mb-1", placeholder: "パスワード" %>
      <%= f.password_field :password_confirmation,class: "form-control mb-1", placeholder: "もう一度パスワードを入力してください" %>
      <%= f.submit "登録する", class: "btn btn-md btn-rounded btn-block form-control submit" %>
    <% end %>
</div>
