<% provide(:title, 'Sign up') %>
    <div id="logreg-forms">
        <h1 class="h3 mb-3 font-weight-normal" style="text-align: center">ユーザー登録</h1>
        <div class="social-login">
            <button class="btn facebook-btn social-btn" type="button"><span><i class="fab fa-facebook-f"></i> Sign up with Facebook</span> </button>
            <button class="btn google-btn social-btn" type="button"><span><i class="fab fa-google-plus-g"></i> Sign up with Google+</span> </button>
        </div>
        <p style="text-align:center"> OR  </p>
        <p style="text-align:center"> 以下の情報で登録 </p>
        <%= render 'shared/error_messages'%>
        <%= form_for @user do |f| %>
          <%= f.text_field :name,class: "form-control mb-1", placeholder: "名前"%>
          <%= f.email_field :email,class: "form-control mb-1", placeholder: "メールアドレス" %>
          <%= f.password_field :password,class: "form-control mb-1", placeholder: "パスワード" %>
          <%= f.password_field :password_confirmation,class: "form-control mb-1", placeholder: "もう一度パスワードを入力してください" %>
          <%= f.submit "登録する", class: "btn btn-md btn-rounded btn-block form-control submit" %>
        <% end %>
    </div>