<% provide(:title, @user.name) %>

<div class="container">
  <div class="row">
      <div class="col-md-12 mt-3 p-0" style="border: 1px solid #000000;">
        <div class="bg-dark user_info">
          <h4 class="text-white text-center">ユーザー情報</h4>
        </div>
          <%= gravatar_for @user, size:60, class:"float-center" %>
          <h5 class="text-center alert-info mt-3 mx-3 rounded bg-light">ニックネーム:<%= @user.name %></h4>
          <h5 class="text-center alert-info mt-3 mx-3 rounded bg-light">所属：<%= @user.affiliation %></h6>
          <p class="text-center"><%= @user.s_introduction %></p>
      </div>
  </div>
  <div class="row">
    <div class="col-md-12 mt-3">
        <% if @user.topics.any? %>
            <%= will_paginate @topics, renderer: WillPaginate::ActionView::Bootstrap4LinkRenderer %>
          <ol>
            <%= render @topics %>
          </ol>
            <%= will_paginate @topics, renderer: WillPaginate::ActionView::Bootstrap4LinkRenderer %>
        <% else %>
          <h5>投稿された記事はありません。</h5>
        <% end %>
　　</div>
  </div>
</div>