<div id="logreg-forms">
  <h1 class="h3 font-weight-normal text-center">ログイン</h1>
    <div class="social-login">
        <button class="btn facebook-btn social-btn" type="button"><span><i class="fab fa-facebook-f"></i> ログイン with Facebook</span> </button>
        <button class="btn google-btn social-btn" type="button"><span><i class="fab fa-google-plus-g"></i> ログイン with Google+</span> </button>
    </div>
    <p style="text-align:center"> OR  </p>
    <%= form_for(:session, url: login_path) do |f| %>
      <%= f.email_field :email,class: "form-control mb-1", placeholder: "メールアドレス" %>
      <%= f.password_field :password,class: "form-control mb-1", placeholder: "パスワード" %>
      <%= f.label :remember_me, class: "checkbox inline" do %>
        <%= f.check_box :remember_me %>
        <span>ログイン情報を記憶しますか？</span>
      <% end %>
      <%= f.submit "ログイン", class: "btn btn-md btn-rounded btn-block form-control submit" %>
    <% end %>
    <div class="my-3">
      <%= link_to new_user_path, class: "btn btn-success btn-sm mx-5 my-2" do %>
        <h6 class="text-center"><i class="far fa-user">ユーザー登録がまだの場合</i></h6>
      <% end %>
      <%= link_to new_password_reset_path, class: "btn btn btn-danger btn-sm mx-5 my-2" do %>
        <h6 class="text-center"><i class="far fa-dizzy">パスワードを忘れてしまった場合</i></h6>
      <% end %>
    </div>
</div>