<% provide(:title, '辞書') %>

<div class="container-fluid mt-5">
  <div class="row mx-3">
    <div class="col-md-12 mt-3 p-0 ">
    <h4 class="text-center text-light bg-dark py-3 rounded"><i class="fas fa-search"></i>調べたい言葉は何ですか？</h4>
    <%= form_tag(yield(:path), method: :get) do %>
      <%= text_field_tag :search, params[:search], class:"form-control" %>
      <%= submit_tag '検索',class:"btn btn-primary btn-block mt-1" %>
    <% end %>
    </div>
  </div>
</div>

<%= render partial:'initial_search' %>

<div class="container pt-3">
  <%= will_paginate(@words, renderer: WillPaginate::ActionView::Bootstrap4LinkRenderer) %>
    <div class="row">
      <% @words.each do |word| %>
        <div class=" col-sm-3 col-md-2 mb-3">
          <div class="card">
            <div class="card-body">
              <%= link_to word.name, word_path(word.id) %>
            </div>
        </div>
      </div>
      <% end %>
    </div>
  <%= will_paginate(@words, renderer: WillPaginate::ActionView::Bootstrap4LinkRenderer) %>
</div>
