<% provide(:title, '辞書登録') %>

<div class="container">
  <div class="row">
     <div class="col mt-5">
     <h2 class="d-inline">辞書登録</h2>
     <%= link_to '辞書', words_path, class: 'btn btn-outline-info d-inline float-right' %>
     </div>
  </div>
    <%= form_for @word, url: {action: 'confirm'}  do |f|  %>
    <div class="row">
      <div class="col-12 mt-3">
        <%= f.label :nama, '単語' %>
        <%= f.text_field :name, class: 'form-control', style: "width: 100 %" %>
      </div>
    </div>
    <div class="row">
      <div class="col-12 mt-3">
        <%= f.label :description, '説明'  %>
        <%= f.text_area :description, 'data-provider': :summernote %>
      </div>
    </div>
    <div class="row">
      <div class="col-12 mt-3">
        <%= f.submit '確認画面へ', class: 'btn btn-info btn-block' %>
        <%= hidden_field_tag :user_id, current_user.id %>
      </div>
    </div>
    <% end %>
    </div>
  </div>
</div>