<% provide(:title, @word.title) %>

<div class="container">
  <div class="row">
    <div class="col-md-12 mt-3 py-3 bg-dark text-white ">
      <h4 class="d-inline">
        <%= @word.name %> とは？
      </h4>
    </div>
    <div class="col-md-12 bg-white">
      <%== @word.content %>
    </div>
    <div class="col-md-12 py-3 bg-dark text-white ">
      <h5>by <%= @topic.user.name %></h5>
    </div>
  </div>
</div>

<div class="container bg-light mt-3 py-3">
  <div class="row">
    <div class="col-12">
      <div id="comments_area">
        <%= render partial: 'comments/index', locals: { comments: @comments } %>
      </div> 
    </div>
    <div class="col-12">
      <% if logged_in? %>
        <%= render partial: 'comments/form', locals: { comment: @comment, topic: @topic } %>
      <% end %>
    </div>
  </div>
</div>